/* 
  Element Selectors: Selects every element on the page of matching name.
*/
body {
  background-color: rgb(90, 205, 190);
}
header {
  background-color: rgb(90, 205, 190);
  display: flex;
  justify-content: center;
}
footer p {
  font-size: 20px;
  color: #555;
  text-align: center;
  border-top:3px solid #555;
  margin-top: 20px;
  padding-top: 10px;
}

